name: Build Dev

on:
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  build:
    environment: Development
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello, world! Build Dev"
      - run: echo "Hello, world! Build Dev again" >> $GITHUB_OUTPUT
